/* unvisited link */
li a:link {
    color: #1E5A8D;
}
  
/* visited link */
li a:visited {
    color: #1E5A8D;
}

/* mouse over link */
li a:hover {
    color: hotpink;
}

/* selected link */
li a:active {
    color: blue;
}