.home-text{
    margin: 3em 5em 3em 5em;
}

h1, h2{
    text-decoration: underline;
    text-align: center;
}

.steps li{
    margin: 2em;
}
.step-img{
    display: block;
    margin: .5em auto .5em auto ;
}

/* unvisited link */
a:link {
    color: #1E5A8D;
}
  
/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}