.home-text{
  margin: 3em 5em 3em 5em;
  text-align: center;
}

h1{
  text-decoration: underline;
  text-align: center;
}
h2{
  margin-top: 3em;
  text-decoration: underline;
}

.steps{
  margin: 3em 5em 3em 5em;
}
.steps li{
  margin: 2em;
}
.step-img{
  display: block;
  margin: .5em auto .5em auto ;
}